openapi: 3.0.1
info:
  title: CRM
  version: '1.0'
servers:
  - url: https://api-integration.servicetitan.io/crm/v2
paths:
  '/tenant/{tenant}/bookings/{id}':
    get:
      tags:
        - Bookings
      summary: Gets a booking by ID
      description: Gets a booking by ID
      operationId: Bookings_Get
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.BookingResponse'
              example:
                id: 0
                source: string
                createdOn: string
                name: string
                address:
                  street: string
                  unit: string
                  city: string
                  state: string
                  zip: string
                  country: string
                customerType: { }
                start: string
                summary: string
                campaignId: 0
                businessUnitId: 0
                isFirstTimeClient: true
                uploadedImages:
                  - string
                isSendConfirmationEmail: true
                status: { }
                dismissingReasonId: 0
                jobId: 0
                externalId: string
                priority: { }
                jobTypeId: 0
                bookingProviderId: 0
                modifiedOn: string
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/bookings':
    get:
      tags:
        - Bookings
      summary: Gets a list of bookings
      description: Gets a list of bookings
      operationId: Bookings_GetList
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: ids
          in: query
          description: Perform lookup by multiple IDs (maximum 50)
          schema:
            type: string
        - name: page
          in: query
          description: 'Format - int32. The logical number of page to return, starting from 1'
          schema:
            type: integer
            format: int32
            nullable: true
        - name: pageSize
          in: query
          description: Format - int32. How many records to return (50 by default)
          schema:
            type: integer
            format: int32
            nullable: true
        - name: includeTotal
          in: query
          description: Whether total count should be returned
          schema:
            type: boolean
            nullable: true
        - name: createdBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: createdOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items modified on or after certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: externalId
          in: query
          description: Filters by booking's external ID
          schema:
            type: string
        - name: sort
          in: query
          description: "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, ModifiedOn, CreatedOn."
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Of_Crm.V2.BookingResponse'
              example:
                page: 0
                pageSize: 0
                hasMore: true
                totalCount: 0
                data:
                  - id: 0
                    source: string
                    createdOn: string
                    name: string
                    address:
                      street: string
                      unit: string
                      city: string
                      state: string
                      zip: string
                      country: string
                    customerType: { }
                    start: string
                    summary: string
                    campaignId: 0
                    businessUnitId: 0
                    isFirstTimeClient: true
                    uploadedImages:
                      - string
                    isSendConfirmationEmail: true
                    status: { }
                    dismissingReasonId: 0
                    jobId: 0
                    externalId: string
                    priority: { }
                    jobTypeId: 0
                    bookingProviderId: 0
                    modifiedOn: string
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/bookings/{id}/contacts':
    get:
      tags:
        - Bookings
      summary: Get a list of contacts for a booking
      description: Get a list of contacts for a booking
      operationId: Bookings_GetContactList
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: 'Format - int32. The logical number of page to return, starting from 1'
          schema:
            type: integer
            format: int32
            nullable: true
        - name: pageSize
          in: query
          description: Format - int32. How many records to return (50 by default)
          schema:
            type: integer
            format: int32
            nullable: true
        - name: includeTotal
          in: query
          description: Whether total count should be returned
          schema:
            type: boolean
            nullable: true
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Of_Crm.V2.BookingContactResponse'
              example:
                page: 0
                pageSize: 0
                hasMore: true
                totalCount: 0
                data:
                  - id: 0
                    type: { }
                    value: string
                    memo: string
                    modifiedOn: string
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/booking-provider/{booking_provider}/bookings/{id}':
    get:
      tags:
        - Bookings
      summary: Gets a booking by ID for a booking provider
      description: Gets a booking by ID for a booking provider
      operationId: Bookings_GetForProvider
      parameters:
        - name: booking_provider
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.BookingResponse'
              example:
                id: 0
                source: string
                createdOn: string
                name: string
                address:
                  street: string
                  unit: string
                  city: string
                  state: string
                  zip: string
                  country: string
                customerType: { }
                start: string
                summary: string
                campaignId: 0
                businessUnitId: 0
                isFirstTimeClient: true
                uploadedImages:
                  - string
                isSendConfirmationEmail: true
                status: { }
                dismissingReasonId: 0
                jobId: 0
                externalId: string
                priority: { }
                jobTypeId: 0
                bookingProviderId: 0
                modifiedOn: string
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    patch:
      tags:
        - Bookings
      summary: Updates a booking for a booking provider
      description: Updates a booking for a booking provider
      operationId: Bookings_Update
      parameters:
        - name: booking_provider
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.UpdateBookingRequest'
            example:
              source: string
              name: string
              address:
                street: string
                unit: string
                city: string
                state: string
                zip: string
                country: string
              customerType: { }
              start: string
              summary: string
              campaignId: 0
              businessUnitId: 0
              jobTypeId: 0
              priority: { }
              isFirstTimeClient: true
              uploadedImages:
                - string
              externalId: string
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.BookingResponse'
              example:
                id: 0
                source: string
                createdOn: string
                name: string
                address:
                  street: string
                  unit: string
                  city: string
                  state: string
                  zip: string
                  country: string
                customerType: { }
                start: string
                summary: string
                campaignId: 0
                businessUnitId: 0
                isFirstTimeClient: true
                uploadedImages:
                  - string
                isSendConfirmationEmail: true
                status: { }
                dismissingReasonId: 0
                jobId: 0
                externalId: string
                priority: { }
                jobTypeId: 0
                bookingProviderId: 0
                modifiedOn: string
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '409':
          description: Some conflict occurred while executing the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/booking-provider/{booking_provider}/bookings':
    get:
      tags:
        - Bookings
      summary: Gets a list of bookings for a booking provider
      description: Gets a list of bookings for a booking provider
      operationId: Bookings_GetList2
      parameters:
        - name: booking_provider
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: ids
          in: query
          description: Perform lookup by multiple IDs (maximum 50)
          schema:
            type: string
        - name: page
          in: query
          description: 'Format - int32. The logical number of page to return, starting from 1'
          schema:
            type: integer
            format: int32
            nullable: true
        - name: pageSize
          in: query
          description: Format - int32. How many records to return (50 by default)
          schema:
            type: integer
            format: int32
            nullable: true
        - name: includeTotal
          in: query
          description: Whether total count should be returned
          schema:
            type: boolean
            nullable: true
        - name: createdBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: createdOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items modified on or after certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: externalId
          in: query
          description: Filters by booking's external ID
          schema:
            type: string
        - name: sort
          in: query
          description: "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, ModifiedOn, CreatedOn."
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Of_Crm.V2.BookingResponse'
              example:
                page: 0
                pageSize: 0
                hasMore: true
                totalCount: 0
                data:
                  - id: 0
                    source: string
                    createdOn: string
                    name: string
                    address:
                      street: string
                      unit: string
                      city: string
                      state: string
                      zip: string
                      country: string
                    customerType: { }
                    start: string
                    summary: string
                    campaignId: 0
                    businessUnitId: 0
                    isFirstTimeClient: true
                    uploadedImages:
                      - string
                    isSendConfirmationEmail: true
                    status: { }
                    dismissingReasonId: 0
                    jobId: 0
                    externalId: string
                    priority: { }
                    jobTypeId: 0
                    bookingProviderId: 0
                    modifiedOn: string
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    post:
      tags:
        - Bookings
      summary: Creates a booking for a booking provider
      description: Creates a booking for a booking provider
      operationId: Bookings_Create
      parameters:
        - name: booking_provider
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.CreateBookingRequest'
            example:
              source: string
              name: string
              address:
                street: string
                unit: string
                city: string
                state: string
                zip: string
                country: string
              contacts:
                - type: Phone
                  value: string
                  memo: string
              customerType: string
              start: string
              summary: string
              campaignId: 0
              businessUnitId: 0
              jobTypeId: 0
              priority: { }
              isFirstTimeClient: true
              uploadedImages:
                - string
              isSendConfirmationEmail: true
              externalId: string
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.BookingResponse'
              example:
                id: 0
                source: string
                createdOn: string
                name: string
                address:
                  street: string
                  unit: string
                  city: string
                  state: string
                  zip: string
                  country: string
                customerType: { }
                start: string
                summary: string
                campaignId: 0
                businessUnitId: 0
                isFirstTimeClient: true
                uploadedImages:
                  - string
                isSendConfirmationEmail: true
                status: { }
                dismissingReasonId: 0
                jobId: 0
                externalId: string
                priority: { }
                jobTypeId: 0
                bookingProviderId: 0
                modifiedOn: string
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/booking-provider/{booking_provider}/bookings/{id}/contacts':
    post:
      tags:
        - Bookings
      summary: Creates a contact on the specified booking for a booking provider
      description: Creates a contact on the specified booking for a booking provider
      operationId: Bookings_CreateContact
      parameters:
        - name: booking_provider
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.ContactCreateRequest'
            example:
              type: string
              value: string
              memo: string
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.BookingContactResponse'
              example:
                id: 0
                type: { }
                value: string
                memo: string
                modifiedOn: string
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    get:
      tags:
        - Bookings
      summary: Get a list of contacts for a booking for a booking provider
      description: Get a list of contacts for a booking for a booking provider
      operationId: Bookings_GetContactList2
      parameters:
        - name: booking_provider
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: 'Format - int32. The logical number of page to return, starting from 1'
          schema:
            type: integer
            format: int32
            nullable: true
        - name: pageSize
          in: query
          description: Format - int32. How many records to return (50 by default)
          schema:
            type: integer
            format: int32
            nullable: true
        - name: includeTotal
          in: query
          description: Whether total count should be returned
          schema:
            type: boolean
            nullable: true
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Of_Crm.V2.BookingContactResponse'
              example:
                page: 0
                pageSize: 0
                hasMore: true
                totalCount: 0
                data:
                  - id: 0
                    type: { }
                    value: string
                    memo: string
                    modifiedOn: string
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/booking-provider/{booking_provider}/bookings/{id}/contacts/{contactId}':
    patch:
      tags:
        - Bookings
      summary: Updates a single booking contact for a booking provider
      description: Updates a single booking contact for a booking provider
      operationId: Bookings_UpdateBookingContact
      parameters:
        - name: booking_provider
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: contactId
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.UpdateBookingContactRequest'
            example:
              type: Phone
              value: string
              memo: string
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.UpdateBookingContactRequest'
              example:
                type: Phone
                value: string
                memo: string
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: Booking or Contact was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '409':
          description: Some conflict occurred while executing the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    delete:
      tags:
        - Bookings
      summary: Removes a contact from a booking for a booking provider
      description: Removes a contact from a booking for a booking provider
      operationId: Bookings_DeleteContact
      parameters:
        - name: booking_provider
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: contactId
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The request has succeeded
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/tags':
    put:
      tags:
        - BulkTags
      summary: Add multiple tags to more than 1 customer
      description: Add multiple tags to more than 1 customer
      operationId: BulkTags_AddTags
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.AddBulkTagsRequest'
            example:
              customerIds:
                - 0
              tagTypeIds:
                - 0
      responses:
        '200':
          description: The request has succeeded
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '409':
          description: Some conflict occurred while executing the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    delete:
      tags:
        - BulkTags
      summary: Remove multiple tags to more than 1 customer
      description: Remove multiple tags to more than 1 customer
      operationId: BulkTags_RemoveTags
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.RemoveBulkTagsRequest'
            example:
              customerIds:
                - 0
              tagTypeIds:
                - 0
      responses:
        '200':
          description: The request has succeeded
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '409':
          description: Some conflict occurred while executing the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/customers/{id}':
    get:
      tags:
        - Customers
      summary: Gets a Customer specified by ID
      description: Gets a Customer specified by ID
      operationId: Customers_Get
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.Customers.CustomerResponse'
              example:
                id: 0
                active: true
                name: string
                type: { }
                address:
                  street: string
                  unit: string
                  city: string
                  state: string
                  zip: string
                  country: string
                  latitude: 0
                  longitude: 0
                customFields:
                  - typeId: 0
                    name: string
                    value: string
                balance: 0
                doNotMail: true
                doNotService: true
                createdOn: string
                createdById: 0
                modifiedOn: string
                mergedToId: 0
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    patch:
      tags:
        - Customers
      summary: Update a customer
      description: Update a customer
      operationId: Customers_Update
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.Customers.UpdateCustomerRequest'
            example:
              name: string
              type: { }
              address:
                street: string
                unit: string
                city: string
                state: string
                zip: string
                country: string
                latitude: 0
                longitude: 0
              customFields:
                - typeId: 0
                  value: string
              doNotMail: true
              doNotService: true
              active: true
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.Customers.CustomerResponse'
              example:
                id: 0
                active: true
                name: string
                type: { }
                address:
                  street: string
                  unit: string
                  city: string
                  state: string
                  zip: string
                  country: string
                  latitude: 0
                  longitude: 0
                customFields:
                  - typeId: 0
                    name: string
                    value: string
                balance: 0
                doNotMail: true
                doNotService: true
                createdOn: string
                createdById: 0
                modifiedOn: string
                mergedToId: 0
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/customers':
    get:
      tags:
        - Customers
      summary: Gets a list of Customers
      description: Gets a list of Customers
      operationId: Customers_GetList
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: 'Format - int32. The logical number of page to return, starting from 1'
          schema:
            type: integer
            format: int32
            nullable: true
        - name: pageSize
          in: query
          description: Format - int32. How many records to return (50 by default)
          schema:
            type: integer
            format: int32
            nullable: true
        - name: includeTotal
          in: query
          description: Whether total count should be returned
          schema:
            type: boolean
            nullable: true
        - name: sort
          in: query
          description: "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, ModifiedOn, CreatedOn."
          schema:
            type: string
        - name: ids
          in: query
          description: Returns specific customer records by customer ID.
          schema:
            type: string
        - name: createdBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Returns customer records created before the requested date (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: createdOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Returns customer records created on or after the requested date (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Returns customer records modified before the requested date (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Returns customer records modified after the requested date (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: name
          in: query
          description: Returns customer records by name.
          schema:
            type: string
        - name: street
          in: query
          description: Returns customer records by street.
          schema:
            type: string
        - name: unit
          in: query
          description: Returns customer records by unit.
          schema:
            type: string
        - name: city
          in: query
          description: Returns customer records by city.
          schema:
            type: string
        - name: state
          in: query
          description: Returns customer records by state.
          schema:
            type: string
        - name: zip
          in: query
          description: Returns customer records by zip.
          schema:
            type: string
        - name: country
          in: query
          description: Returns customer records by country.
          schema:
            type: string
        - name: latitude
          in: query
          description: Format - double. Returns customer records by latitude.
          schema:
            type: number
            format: double
            nullable: true
        - name: longitude
          in: query
          description: Format - double. Returns customer records by longitude.
          schema:
            type: number
            format: double
            nullable: true
        - name: phone
          in: query
          description: Returns customer records by phone number of contacts.
          schema:
            type: string
        - name: active
          in: query
          description: "Returns customer records by active status. only active items will be returned by default.\\\nValues: [True, Any, False]"
          schema:
            type: string
            oneOf:
              - $ref: '#/components/schemas/ActiveQueryFilter'
            nullable: true
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Of_Crm.V2.Customers.CustomerResponse'
              example:
                page: 0
                pageSize: 0
                hasMore: true
                totalCount: 0
                data:
                  - id: 0
                    active: true
                    name: string
                    type: { }
                    address:
                      street: string
                      unit: string
                      city: string
                      state: string
                      zip: string
                      country: string
                      latitude: 0
                      longitude: 0
                    customFields:
                      - typeId: 0
                        name: string
                        value: string
                    balance: 0
                    doNotMail: true
                    doNotService: true
                    createdOn: string
                    createdById: 0
                    modifiedOn: string
                    mergedToId: 0
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    post:
      tags:
        - Customers
      summary: Creates a New Customer
      description: Creates a New Customer
      operationId: Customers_Create
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.Customers.CreateCustomerRequest'
            example:
              name: string
              type: { }
              doNotMail: true
              doNotService: true
              locations:
                - name: string
                  address:
                    street: string
                    unit: string
                    city: string
                    state: string
                    zip: string
                    country: string
                    latitude: 0
                    longitude: 0
                  contacts:
                    - type: { }
                      value: string
                      memo: string
                  customFields:
                    - typeId: 0
                      value: string
              address:
                street: string
                unit: string
                city: string
                state: string
                zip: string
                country: string
                latitude: 0
                longitude: 0
              contacts:
                - type: { }
                  value: string
                  memo: string
              customFields:
                - typeId: 0
                  value: string
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.Customers.CreatedCustomerResponse'
              example:
                id: 0
                active: true
                name: string
                type: { }
                address:
                  street: string
                  unit: string
                  city: string
                  state: string
                  zip: string
                  country: string
                  latitude: 0
                  longitude: 0
                customFields:
                  - typeId: 0
                    name: string
                    value: string
                balance: 0
                doNotMail: true
                doNotService: true
                createdOn: string
                createdById: 0
                modifiedOn: string
                mergedToId: 0
                locations:
                  - taxZoneId: 0
                    id: 0
                    customerId: 0
                    active: true
                    name: string
                    address:
                      street: string
                      unit: string
                      city: string
                      state: string
                      zip: string
                      country: string
                      latitude: 0
                      longitude: 0
                    customFields:
                      - typeId: 0
                        name: string
                        value: string
                    createdOn: string
                    createdById: 0
                    modifiedOn: string
                    mergedToId: 0
                    contacts:
                      - id: 0
                        type: { }
                        value: string
                        memo: string
                contacts:
                  - id: 0
                    type: { }
                    value: string
                    memo: string
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/customers/{id}/notes':
    get:
      tags:
        - Customers
      summary: Gets a list of notes for a customer
      description: Gets a list of notes for a customer
      operationId: Customers_GetNotes
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: 'Format - int32. The logical number of page to return, starting from 1'
          schema:
            type: integer
            format: int32
            nullable: true
        - name: pageSize
          in: query
          description: Format - int32. How many records to return (50 by default)
          schema:
            type: integer
            format: int32
            nullable: true
        - name: includeTotal
          in: query
          description: Whether total count should be returned
          schema:
            type: boolean
            nullable: true
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Of_Crm.V2.NoteResponse'
              example:
                page: 0
                pageSize: 0
                hasMore: true
                totalCount: 0
                data:
                  - text: string
                    isPinned: true
                    createdById: 0
                    createdOn: string
                    modifiedOn: string
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    post:
      tags:
        - Customers
      summary: Creates a New Note
      description: Creates a New Note
      operationId: Customers_CreateNote
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.CreateCustomerNoteRequest'
            example:
              text: string
              pinToTop: true
              addToLocations: true
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.NoteResponse'
              example:
                text: string
                isPinned: true
                createdById: 0
                createdOn: string
                modifiedOn: string
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/customers/{id}/contacts':
    get:
      tags:
        - Customers
      summary: Gets a list of contacts for the specified customer
      description: Gets a list of contacts for the specified customer
      operationId: Customers_GetContactsList
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: Format - int32.
          schema:
            type: integer
            format: int32
            nullable: true
        - name: pageSize
          in: query
          description: Format - int32.
          schema:
            type: integer
            format: int32
            nullable: true
        - name: includeTotal
          in: query
          schema:
            type: boolean
            nullable: true
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Of_Crm.V2.Customers.CustomerContactWithModifiedOnResponse'
              example:
                page: 0
                pageSize: 0
                hasMore: true
                totalCount: 0
                data:
                  - id: 0
                    type: { }
                    value: string
                    memo: string
                    modifiedOn: string
                    phoneSettings:
                      phoneNumber: string
                      doNotText: true
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '409':
          description: Some conflict occurred while executing the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    post:
      tags:
        - Customers
      summary: Creates a contact on the customer
      description: Creates a contact on the customer
      operationId: Customers_CreateContact
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.Customers.CreateCustomerContactRequest'
            example:
              type: { }
              value: string
              memo: string
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.Customers.CustomerContactWithModifiedOnResponse'
              example:
                id: 0
                type: { }
                value: string
                memo: string
                modifiedOn: string
                phoneSettings:
                  phoneNumber: string
                  doNotText: true
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '409':
          description: Some conflict occurred while executing the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/customers/{id}/contacts/{contactId}':
    delete:
      tags:
        - Customers
      summary: Removes a contact from a customer
      description: Removes a contact from a customer
      operationId: Customers_DeleteContact
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: contactId
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The request has succeeded
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '409':
          description: Some conflict occurred while executing the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    patch:
      tags:
        - Customers
      summary: Updates a contact on the customer
      description: Updates a contact on the customer
      operationId: Customers_UpdateContact
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: contactId
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.Customers.UpdateCustomerContactRequest'
            example:
              type: { }
              value: string
              memo: string
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.Customers.CustomerContactWithModifiedOnResponse'
              example:
                id: 0
                type: { }
                value: string
                memo: string
                modifiedOn: string
                phoneSettings:
                  phoneNumber: string
                  doNotText: true
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '409':
          description: Some conflict occurred while executing the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/customers/contacts':
    get:
      tags:
        - Customers
      summary: Gets a list of contacts and customers for a specific modified-on date range. Either modifiedOn or modifiedOnOrAfter parameter must be specified
      description: Gets a list of contacts and customers for a specific modified-on date range. Either modifiedOn or modifiedOnOrAfter parameter must be specified
      operationId: Customers_GetModifiedContactsList
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: 'Format - int32. The logical number of page to return, starting from 1'
          schema:
            type: integer
            format: int32
            nullable: true
        - name: pageSize
          in: query
          description: Format - int32. How many records to return (50 by default)
          schema:
            type: integer
            format: int32
            nullable: true
        - name: includeTotal
          in: query
          description: Whether total count should be returned
          schema:
            type: boolean
            nullable: true
        - name: modifiedBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC). Either modifiedBefore or modifiedOnOrAfter parameter must be specified
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items modified on/after certain date/time (in UTC). Either modifiedBefore or modifiedOnOrAfter parameter must be specified
          schema:
            type: string
            format: date-time
            nullable: true
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Of_Crm.V2.Customers.CustomerContactWithModifiedOnAndCustomerIdResponse'
              example:
                page: 0
                pageSize: 0
                hasMore: true
                totalCount: 0
                data:
                  - modifiedOn: string
                    phoneSettings:
                      phoneNumber: string
                      doNotText: true
                    id: 0
                    type: { }
                    value: string
                    memo: string
                    customerId: 0
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/leads/{id}':
    get:
      tags:
        - Leads
      summary: Gets a lead specified by ID
      description: Gets a lead specified by ID
      operationId: Leads_Get
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.LeadResponse'
              example:
                id: 0
                status: { }
                customerId: 0
                locationId: 0
                businessUnitId: 0
                jobTypeId: 0
                priority: { }
                campaignId: 0
                summary: string
                callReasonId: 0
                followUpDate: string
                createdOn: string
                createdById: 0
                modifiedOn: string
                tagTypeIds:
                  - 0
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: Lead not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    patch:
      tags:
        - Leads
      summary: Updates a lead
      description: Updates a lead
      operationId: Leads_Update
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.LeadUpdateRequest'
            example:
              campaignId: 0
              priority: { }
              businessUnitId: 0
              jobTypeId: 0
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.LeadResponse'
              example:
                id: 0
                status: { }
                customerId: 0
                locationId: 0
                businessUnitId: 0
                jobTypeId: 0
                priority: { }
                campaignId: 0
                summary: string
                callReasonId: 0
                followUpDate: string
                createdOn: string
                createdById: 0
                modifiedOn: string
                tagTypeIds:
                  - 0
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/leads':
    get:
      tags:
        - Leads
      summary: Gets a list of leads
      description: Gets a list of leads
      operationId: Leads_GetList
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: 'Format - int32. The logical number of page to return, starting from 1'
          schema:
            type: integer
            format: int32
            nullable: true
        - name: pageSize
          in: query
          description: Format - int32. How many records to return (50 by default)
          schema:
            type: integer
            format: int32
            nullable: true
        - name: includeTotal
          in: query
          description: Whether total count should be returned
          schema:
            type: boolean
            nullable: true
        - name: ids
          in: query
          description: Perform lookup by multiple IDs (maximum 50)
          schema:
            type: string
        - name: createdBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: createdOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items modified on or after certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: customerId
          in: query
          description: Format - int64. Filters by associated customer
          schema:
            type: integer
            format: int64
            nullable: true
        - name: isProspect
          in: query
          description: "Allows to filter leads where the customer doesn't have a job, or there is no customer.\nPossible values are:\nnull (return all leads);\ntrue (return leads without customer/jobs);\nfalse (return leads with customer and job)"
          schema:
            type: boolean
            nullable: true
        - name: withoutCustomer
          in: query
          description: "Allows to filter leads that don't have a customer or location record associated to it.\nPossible values are:\nnull (return all leads);\ntrue (return leads without customers or locations only);\nfalse (return leads with customers and locations only)"
          schema:
            type: boolean
            nullable: true
        - name: status
          in: query
          description: "Filters by status\\\nValues: [Open, Dismissed, Converted]"
          schema:
            type: string
            oneOf:
              - $ref: '#/components/schemas/Crm.V2.LeadStatus'
            nullable: true
        - name: customerCity
          in: query
          description: Filters by customer city
          schema:
            type: string
        - name: customerState
          in: query
          description: Filters by customer state
          schema:
            type: string
        - name: customerZip
          in: query
          description: Filters by customer zip
          schema:
            type: string
        - name: customerCreatedOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Returns customers who were created on or before a certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: customerCreatedBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Returns customers who were created after a certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: customerModifiedOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Returns customers who were modified on or before a certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: sort
          in: query
          description: "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, ModifiedOn, CreatedOn."
          schema:
            type: string
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Of_Crm.V2.LeadResponse'
              example:
                page: 0
                pageSize: 0
                hasMore: true
                totalCount: 0
                data:
                  - id: 0
                    status: { }
                    customerId: 0
                    locationId: 0
                    businessUnitId: 0
                    jobTypeId: 0
                    priority: { }
                    campaignId: 0
                    summary: string
                    callReasonId: 0
                    followUpDate: string
                    createdOn: string
                    createdById: 0
                    modifiedOn: string
                    tagTypeIds:
                      - 0
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    post:
      tags:
        - Leads
      summary: Creates a lead
      description: Creates a lead
      operationId: Leads_Create
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.LeadCreateRequest'
            example:
              customerId: 0
              locationId: 0
              campaignId: 0
              businessUnitId: 0
              jobTypeId: 0
              summary: string
              tagTypeIds:
                - 0
              priority: { }
              callReasonId: 0
              followUpDate: string
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.LeadResponse'
              example:
                id: 0
                status: { }
                customerId: 0
                locationId: 0
                businessUnitId: 0
                jobTypeId: 0
                priority: { }
                campaignId: 0
                summary: string
                callReasonId: 0
                followUpDate: string
                createdOn: string
                createdById: 0
                modifiedOn: string
                tagTypeIds:
                  - 0
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/leads/{id}/follow-up':
    post:
      tags:
        - Leads
      summary: Leads_CreateFollowUp
      operationId: Leads_CreateFollowUp
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.CreateFollowUpRequest'
            example:
              followUpDate: string
              text: string
              pinToTop: true
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.FollowUpResponse'
              example:
                leadId: 0
                followUpDate: string
                text: string
                pinToTop: true
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/leads/{id}/notes':
    get:
      tags:
        - Leads
      summary: Gets notes for a lead
      description: Gets notes for a lead
      operationId: Leads_GetNotes
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: 'Format - int32. The logical number of page to return, starting from 1'
          schema:
            type: integer
            format: int32
            nullable: true
        - name: pageSize
          in: query
          description: Format - int32. How many records to return (50 by default)
          schema:
            type: integer
            format: int32
            nullable: true
        - name: includeTotal
          in: query
          description: Whether total count should be returned
          schema:
            type: boolean
            nullable: true
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Of_Crm.V2.NoteResponse'
              example:
                page: 0
                pageSize: 0
                hasMore: true
                totalCount: 0
                data:
                  - text: string
                    isPinned: true
                    createdById: 0
                    createdOn: string
                    modifiedOn: string
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    post:
      tags:
        - Leads
      summary: Creates a note on the specified lead
      description: Creates a note on the specified lead
      operationId: Leads_CreateNote
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.LeadNoteCreateRequest'
            example:
              text: string
              pinToTop: true
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.NoteResponse'
              example:
                text: string
                isPinned: true
                createdById: 0
                createdOn: string
                modifiedOn: string
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: Lead not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/leads/{id}/dismiss':
    post:
      tags:
        - Leads
      summary: Dismisses a lead specified by ID
      description: Dismisses a lead specified by ID
      operationId: Leads_Dismiss
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.DismissLeadRequest'
            example:
              dismissingReasonId: 0
      responses:
        '200':
          description: The request has succeeded
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: Lead not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/locations/{id}':
    get:
      tags:
        - Locations
      summary: Gets a location specified by ID
      description: Gets a location specified by ID
      operationId: Locations_Get
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.Locations.LocationResponse'
              example:
                id: 0
                customerId: 0
                active: true
                name: string
                address:
                  street: string
                  unit: string
                  city: string
                  state: string
                  zip: string
                  country: string
                  latitude: 0
                  longitude: 0
                customFields:
                  - typeId: 0
                    name: string
                    value: string
                createdOn: string
                createdById: 0
                modifiedOn: string
                mergedToId: 0
                taxZoneId: 0
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: Location not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    patch:
      tags:
        - Locations
      summary: Updates a location
      description: Updates a location
      operationId: Locations_Update
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.Locations.UpdateLocationRequest'
            example:
              customerId: 0
              name: string
              address:
                street: string
                unit: string
                city: string
                state: string
                zip: string
                country: string
                latitude: 0
                longitude: 0
              active: true
              taxZoneId: 0
              customFields:
                - typeId: 0
                  value: string
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.Locations.LocationResponse'
              example:
                id: 0
                customerId: 0
                active: true
                name: string
                address:
                  street: string
                  unit: string
                  city: string
                  state: string
                  zip: string
                  country: string
                  latitude: 0
                  longitude: 0
                customFields:
                  - typeId: 0
                    name: string
                    value: string
                createdOn: string
                createdById: 0
                modifiedOn: string
                mergedToId: 0
                taxZoneId: 0
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '404':
          description: Location not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '409':
          description: Customer/Tax Zone not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/tenant/{tenant}/locations':
    post:
      tags:
        - Locations
      summary: Creates a new location
      description: Creates a new location
      operationId: Locations_Create
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crm.V2.Locations.CreateLocationRequest'
            example:
              name: string
              address:
                street: string
                unit: string
                city: string
                state: string
                zip: string
                country: string
                latitude: 0
                longitude: 0
              contacts:
                - type: { }
                  value: string
                  memo: string
              customFields:
                - typeId: 0
                  value: string
              customerId: 0
      responses:
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crm.V2.Locations.CreateLocationResponse'
              example:
                taxZoneId: 0
                id: 0
                customerId: 0
                active: true
                name: string
                address:
                  street: string
                  unit: string
                  city: string
                  state: string
                  zip: string
                  country: string
                  latitude: 0
                  longitude: 0
                customFields:
                  - typeId: 0
                    name: string
                    value: string
                createdOn: string
                createdById: 0
                modifiedOn: string
                mergedToId: 0
                contacts:
                  - id: 0
                    type: { }
                    value: string
                    memo: string
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
[...]
