openapi: 3.0.1
info:
  title: Pricebook
  version: '1.0'
servers:
  - url: https://api-integration.servicetitan.io
paths:
  '/pricebook/v2/tenant/{tenant}/categories':
    get:
      tags:
        - Categories
      summary: GET the categories in your pricebook
      description: GET the categories in your pricebook
      operationId: Categories_GetList
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: 'Format - int32. The logical number of page to return, starting from 1'
          schema:
            type: integer
            format: int32
            nullable: true
        - name: pageSize
          in: query
          description: Format - int32. How many records to return (50 by default)
          schema:
            type: integer
            format: int32
            nullable: true
        - name: includeTotal
          in: query
          description: Whether total count should be returned
          schema:
            type: boolean
            nullable: true
        - name: sort
          in: query
          description: Applies sorting by specified fields
          schema:
            type: string
        - name: categoryType
          in: query
          description: 'Values: [Services, Materials]'
          schema:
            type: string
            oneOf:
              - $ref: '#/components/schemas/Pricebook.V2.CategoryType'
            nullable: true
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Of_Pricebook.V2.CategoryResponse'
    post:
      tags:
        - Categories
      summary: Post to add a new category to your pricebook
      description: Post to add a new category to your pricebook
      operationId: Categories_Create
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricebook.V2.CategoryCreateRequest'
            example:
              name: string
              active: true
              description: string
              parentId: 0
              position: 0
              image: string
              categoryType: { }
              businessUnitIds:
                - 0
              skuImages:
                - string
              skuVideos:
                - string
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '201':
          description: The entity has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricebook.V2.CategoryResponse'
  '/pricebook/v2/tenant/{tenant}/categories/{id}':
    get:
      tags:
        - Categories
      summary: Gets category details
      description: Gets category details
      operationId: Categories_Get
      parameters:
        - name: id
          in: path
          description: Format - int64. The id of the service you are requesting
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricebook.V2.CategoryResponse'
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    patch:
      tags:
        - Categories
      summary: Edits an existing category in your pricebook
      description: Edits an existing category in your pricebook
      operationId: Categories_Update
      parameters:
        - name: id
          in: path
          description: Format - int64. Unique id for the SKU is modified
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricebook.V2.CategoryUpdateRequest'
            example:
              name: string
              active: true
              description: string
              parentId: 0
              position: 0
              image: string
              categoryType: { }
              businessUnitIds:
                - 0
              skuImages:
                - string
              skuVideos:
                - string
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricebook.V2.CategoryResponse'
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    delete:
      tags:
        - Categories
      summary: Deletes an existing category from your pricebook
      description: Deletes an existing category from your pricebook
      operationId: Categories_Delete
      parameters:
        - name: id
          in: path
          description: Format - int64. Id of the SKU you are deleting
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '204':
          description: 'The request has succeeded, no content to return'
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/pricebook/v2/tenant/{tenant}/discounts-and-fees':
    get:
      tags:
        - DiscountAndFees
      summary: Get data on all of the discounts or fees in the pricebook.
      description: Get data on all of the discounts or fees in the pricebook.
      operationId: DiscountAndFees_GetList
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: 'Format - int32. The logical number of page to return, starting from 1'
          schema:
            type: integer
            format: int32
            nullable: true
        - name: pageSize
          in: query
          description: Format - int32. How many records to return (50 by default)
          schema:
            type: integer
            format: int32
            nullable: true
        - name: includeTotal
          in: query
          description: Whether total count should be returned
          schema:
            type: boolean
            nullable: true
        - name: sort
          in: query
          description: "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, Code, DisplayName, CreatedOn, ModifiedOn, Price, MemberPrice, AddOnPrice, AddOnMemberPrice, MaterialsCost, PrimaryVendor, Cost, Manufacturer, Priority."
          schema:
            type: string
        - name: ids
          in: query
          description: Perform lookup by multiple IDs (maximum 50)
          schema:
            type: string
        - name: createdBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: createdOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items modified on or after certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: active
          in: query
          description: "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]"
          schema:
            type: string
            oneOf:
              - $ref: '#/components/schemas/ActiveQueryFilter'
            nullable: true
        - name: externalDataApplicationGuid
          in: query
          description: "Format - guid. Items that are created with a specific guid, could be fetched/updated/removed\nonly when the same application guid is provided"
          schema:
            type: string
            format: guid
            nullable: true
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Of_Pricebook.V2.DiscountAndFeesResponse'
              example:
                page: 0
                pageSize: 0
                hasMore: true
                totalCount: 0
                data:
                  - id: 0
                    type: { }
                    code: string
                    displayName: string
                    description: string
                    amountType: { }
                    amount: 0
                    limit: 0
                    taxable: true
                    categories:
                      - 0
                    hours: 0
                    assets:
                      - alias: string
                        fileName: string
                        type: { }
                        url: string
                    account: string
                    crossSaleGroup: string
                    active: true
                    bonus: 0
                    commissionBonus: 0
                    paysCommission: true
                    excludeFromPayroll: true
                    externalData:
                      - key: string
                        value: string
    post:
      tags:
        - DiscountAndFees
      summary: Post to add a new discount or fee to your pricebook
      description: Post to add a new discount or fee to your pricebook
      operationId: DiscountAndFees_Create
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricebook.V2.DiscountAndFeesCreateRequest'
            example:
              type: { }
              code: string
              displayName: string
              description: string
              amountType: { }
              amount: 0
              limit: 0
              taxable: true
              categories:
                - 0
              hours: 0
              assets:
                - type: { }
                  alias: string
                  url: string
              account: string
              crossSaleGroup: string
              active: true
              bonus: 0
              commissionBonus: 0
              paysCommission: true
              excludeFromPayroll: true
              externalData:
                applicationGuid: string
                externalData:
                  - key: string
                    value: string
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '201':
          description: The entity has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricebook.V2.DiscountAndFeesResponse'
              example:
                id: 0
                type: { }
                code: string
                displayName: string
                description: string
                amountType: { }
                amount: 0
                limit: 0
                taxable: true
                categories:
                  - 0
                hours: 0
                assets:
                  - alias: string
                    fileName: string
                    type: { }
                    url: string
                account: string
                crossSaleGroup: string
                active: true
                bonus: 0
                commissionBonus: 0
                paysCommission: true
                excludeFromPayroll: true
                externalData:
                  - key: string
                    value: string
  '/pricebook/v2/tenant/{tenant}/discounts-and-fees/{id}':
    get:
      tags:
        - DiscountAndFees
      summary: Get details if a discount or fees in the pricebook.
      description: Get details if a discount or fees in the pricebook.
      operationId: DiscountAndFees_Get
      parameters:
        - name: id
          in: path
          description: Format - int64. The id of the discount and fee you are requesting
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: externalDataApplicationGuid
          in: query
          description: "Format - guid. Items that are created with a specific guid, could be fetched/updated/removed\nonly when the same application guid is provided."
          schema:
            type: string
            format: guid
            nullable: true
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricebook.V2.DiscountAndFeesResponse'
              example:
                id: 0
                type: { }
                code: string
                displayName: string
                description: string
                amountType: { }
                amount: 0
                limit: 0
                taxable: true
                categories:
                  - 0
                hours: 0
                assets:
                  - alias: string
                    fileName: string
                    type: { }
                    url: string
                account: string
                crossSaleGroup: string
                active: true
                bonus: 0
                commissionBonus: 0
                paysCommission: true
                excludeFromPayroll: true
                externalData:
                  - key: string
                    value: string
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    patch:
      tags:
        - DiscountAndFees
      summary: Edit an existing item in your pricebook
      description: Edit an existing item in your pricebook
      operationId: DiscountAndFees_Update
      parameters:
        - name: id
          in: path
          description: Format - int64. Unique id for the SKU is modified
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricebook.V2.DiscountAndFeesUpdateRequest'
            example:
              type: { }
              code: string
              displayName: string
              description: string
              amountType: { }
              amount: 0
              limit: 0
              taxable: true
              categories:
                - 0
              hours: 0
              assets:
                - type: { }
                  alias: string
                  url: string
              account: string
              crossSaleGroup: string
              active: true
              bonus: 0
              commissionBonus: 0
              paysCommission: true
              excludeFromPayroll: true
              externalData:
                applicationGuid: string
                externalData:
                  - key: string
                    value: string
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricebook.V2.DiscountAndFeesResponse'
              example:
                id: 0
                type: { }
                code: string
                displayName: string
                description: string
                amountType: { }
                amount: 0
                limit: 0
                taxable: true
                categories:
                  - 0
                hours: 0
                assets:
                  - alias: string
                    fileName: string
                    type: { }
                    url: string
                account: string
                crossSaleGroup: string
                active: true
                bonus: 0
                commissionBonus: 0
                paysCommission: true
                excludeFromPayroll: true
                externalData:
                  - key: string
                    value: string
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    delete:
      tags:
        - DiscountAndFees
      summary: Deletes a discount or fee from your pricebook
      description: Deletes a discount or fee from your pricebook
      operationId: DiscountAndFees_Delete
      parameters:
        - name: id
          in: path
          description: Format - int64. Id of the SKU you are deleting
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '204':
          description: 'The request has succeeded, no content to return'
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/pricebook/v2/tenant/{tenant}/equipment':
    get:
      tags:
        - Equipment
      summary: Get data on all of the equipment in the pricebook.
      description: Get data on all of the equipment in the pricebook.
      operationId: Equipment_GetList
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: 'Format - int32. The logical number of page to return, starting from 1'
          schema:
            type: integer
            format: int32
            nullable: true
        - name: pageSize
          in: query
          description: Format - int32. How many records to return (50 by default)
          schema:
            type: integer
            format: int32
            nullable: true
        - name: includeTotal
          in: query
          description: Whether total count should be returned
          schema:
            type: boolean
            nullable: true
        - name: sort
          in: query
          description: "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, Code, DisplayName, CreatedOn, ModifiedOn, Price, MemberPrice, AddOnPrice, AddOnMemberPrice, MaterialsCost, PrimaryVendor, Cost, Manufacturer, Priority."
          schema:
            type: string
        - name: ids
          in: query
          description: Perform lookup by multiple IDs (maximum 50)
          schema:
            type: string
        - name: createdBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: createdOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items modified on or after certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: active
          in: query
          description: "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]"
          schema:
            type: string
            oneOf:
              - $ref: '#/components/schemas/ActiveQueryFilter'
            nullable: true
        - name: externalDataApplicationGuid
          in: query
          description: "Format - guid. Items that are created with a specific guid, could be fetched/updated/removed\nonly when the same application guid is provided"
          schema:
            type: string
            format: guid
            nullable: true
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Of_Pricebook.V2.EquipmentResponse'
              example:
                page: 0
                pageSize: 0
                hasMore: true
                totalCount: 0
                data:
                  - id: 0
                    code: string
                    displayName: string
                    description: string
                    active: true
                    price: 0
                    memberPrice: 0
                    addOnPrice: 0
                    addOnMemberPrice: 0
                    manufacturer: string
                    model: string
                    manufacturerWarranty:
                      duration: 0
                      description: string
                    serviceProviderWarranty:
                      duration: 0
                      description: string
                    categories:
                      - 0
                    assets:
                      - alias: string
                        fileName: string
                        type: { }
                        url: string
                    recommendations:
                      - skuId: 0
                        type: { }
                    upgrades:
                      - 0
                    equipmentMaterials:
                      - skuId: 0
                        quantity: 0
                    primaryVendor:
                      id: 0
                      vendorName: string
                      vendorId: 0
                      memo: string
                      vendorPart: string
                      cost: 0
                      active: true
                      primarySubAccount:
                        id: 0
                        cost: 0
                        accountName: string
                      otherSubAccounts:
                        - id: 0
                          cost: 0
                          accountName: string
                    otherVendors:
                      - id: 0
                        vendorName: string
                        vendorId: 0
                        memo: string
                        vendorPart: string
                        cost: 0
                        active: true
                        primarySubAccount:
                          id: 0
                          cost: 0
                          accountName: string
                        otherSubAccounts:
                          - id: 0
                            cost: 0
                            accountName: string
                    account: string
                    costOfSaleAccount: string
                    assetAccount: string
                    crossSaleGroup: string
                    paysCommission: true
                    commissionBonus: 0
                    hours: 0
                    taxable: true
                    cost: 0
                    unitOfMeasure: string
                    isInventory: true
                    modifiedOn: string
                    source: string
                    externalId: string
                    externalData:
                      - key: string
                        value: string
    post:
      tags:
        - Equipment
      summary: Post to add a new equipment to your pricebook
      description: Post to add a new equipment to your pricebook
      operationId: Equipment_Create
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricebook.V2.EquipmentCreateRequest'
            example:
              equipmentMaterials:
                - skuId: 0
                  quantity: 0
              recommendations:
                - skuId: 0
                  type: Service
              upgrades:
                - 0
              code: string
              displayName: string
              description: string
              price: 0
              memberPrice: 0
              addOnPrice: 0
              addOnMemberPrice: 0
              active: true
              manufacturer: string
              model: string
              manufacturerWarranty:
                duration: 0
                description: string
              serviceProviderWarranty:
                duration: 0
                description: string
              assets:
                - type: { }
                  alias: string
                  url: string
              categories:
                - 0
              primaryVendor:
                vendorId: 0
                memo: string
                vendorPart: string
                cost: 0
                active: true
                primarySubAccount:
                  cost: 0
                  accountName: string
                otherSubAccounts:
                  - cost: 0
                    accountName: string
              otherVendors:
                - vendorId: 0
                  memo: string
                  vendorPart: string
                  cost: 0
                  active: true
                  primarySubAccount:
                    cost: 0
                    accountName: string
                  otherSubAccounts:
                    - cost: 0
                      accountName: string
              account: string
              costOfSaleAccount: string
              assetAccount: string
              crossSaleGroup: string
              paysCommission: true
              commissionBonus: 0
              hours: 0
              taxable: true
              cost: 0
              unitOfMeasure: string
              isInventory: true
              externalData:
                applicationGuid: string
                externalData:
                  - key: string
                    value: string
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '201':
          description: The entity has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricebook.V2.EquipmentResponse'
              example:
                id: 0
                code: string
                displayName: string
                description: string
                active: true
                price: 0
                memberPrice: 0
                addOnPrice: 0
                addOnMemberPrice: 0
                manufacturer: string
                model: string
                manufacturerWarranty:
                  duration: 0
                  description: string
                serviceProviderWarranty:
                  duration: 0
                  description: string
                categories:
                  - 0
                assets:
                  - alias: string
                    fileName: string
                    type: { }
                    url: string
                recommendations:
                  - skuId: 0
                    type: { }
                upgrades:
                  - 0
                equipmentMaterials:
                  - skuId: 0
                    quantity: 0
                primaryVendor:
                  id: 0
                  vendorName: string
                  vendorId: 0
                  memo: string
                  vendorPart: string
                  cost: 0
                  active: true
                  primarySubAccount:
                    id: 0
                    cost: 0
                    accountName: string
                  otherSubAccounts:
                    - id: 0
                      cost: 0
                      accountName: string
                otherVendors:
                  - id: 0
                    vendorName: string
                    vendorId: 0
                    memo: string
                    vendorPart: string
                    cost: 0
                    active: true
                    primarySubAccount:
                      id: 0
                      cost: 0
                      accountName: string
                    otherSubAccounts:
                      - id: 0
                        cost: 0
                        accountName: string
                account: string
                costOfSaleAccount: string
                assetAccount: string
                crossSaleGroup: string
                paysCommission: true
                commissionBonus: 0
                hours: 0
                taxable: true
                cost: 0
                unitOfMeasure: string
                isInventory: true
                modifiedOn: string
                source: string
                externalId: string
                externalData:
                  - key: string
                    value: string
  '/pricebook/v2/tenant/{tenant}/equipment/{id}':
    get:
      tags:
        - Equipment
      summary: Get details a equipment in the pricebook.
      description: Get details a equipment in the pricebook.
      operationId: Equipment_Get
      parameters:
        - name: id
          in: path
          description: Format - int64. The id of the equipment you are requesting
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: externalDataApplicationGuid
          in: query
          description: "Format - guid. Items that are created with a specific guid, could be fetched/updated/removed\nonly when the same application guid is provided."
          schema:
            type: string
            format: guid
            nullable: true
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricebook.V2.EquipmentResponse'
              example:
                id: 0
                code: string
                displayName: string
                description: string
                active: true
                price: 0
                memberPrice: 0
                addOnPrice: 0
                addOnMemberPrice: 0
                manufacturer: string
                model: string
                manufacturerWarranty:
                  duration: 0
                  description: string
                serviceProviderWarranty:
                  duration: 0
                  description: string
                categories:
                  - 0
                assets:
                  - alias: string
                    fileName: string
                    type: { }
                    url: string
                recommendations:
                  - skuId: 0
                    type: { }
                upgrades:
                  - 0
                equipmentMaterials:
                  - skuId: 0
                    quantity: 0
                primaryVendor:
                  id: 0
                  vendorName: string
                  vendorId: 0
                  memo: string
                  vendorPart: string
                  cost: 0
                  active: true
                  primarySubAccount:
                    id: 0
                    cost: 0
                    accountName: string
                  otherSubAccounts:
                    - id: 0
                      cost: 0
                      accountName: string
                otherVendors:
                  - id: 0
                    vendorName: string
                    vendorId: 0
                    memo: string
                    vendorPart: string
                    cost: 0
                    active: true
                    primarySubAccount:
                      id: 0
                      cost: 0
                      accountName: string
                    otherSubAccounts:
                      - id: 0
                        cost: 0
                        accountName: string
                account: string
                costOfSaleAccount: string
                assetAccount: string
                crossSaleGroup: string
                paysCommission: true
                commissionBonus: 0
                hours: 0
                taxable: true
                cost: 0
                unitOfMeasure: string
                isInventory: true
                modifiedOn: string
                source: string
                externalId: string
                externalData:
                  - key: string
                    value: string
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    patch:
      tags:
        - Equipment
      summary: Edit an existing item in your pricebook
      description: Edit an existing item in your pricebook
      operationId: Equipment_Update
      parameters:
        - name: id
          in: path
          description: Format - int64. Unique id for the SKU is modified
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricebook.V2.EquipmentUpdateRequest'
            example:
              code: string
              displayName: string
              description: string
              price: 0
              memberPrice: 0
              addOnPrice: 0
              addOnMemberPrice: 0
              active: true
              manufacturer: string
              model: string
              manufacturerWarranty:
                duration: 0
                description: string
              serviceProviderWarranty:
                duration: 0
                description: string
              assets:
                - type: { }
                  alias: string
                  url: string
              recommendations:
                - skuId: 0
                  type: Service
              upgrades:
                - 0
              equipmentMaterials:
                - skuId: 0
                  quantity: 0
              categories:
                - 0
              primaryVendor:
                vendorId: 0
                memo: string
                vendorPart: string
                cost: 0
                active: true
                primarySubAccount:
                  cost: 0
                  accountName: string
                otherSubAccounts:
                  - cost: 0
                    accountName: string
              otherVendors:
                - vendorId: 0
                  memo: string
                  vendorPart: string
                  cost: 0
                  active: true
                  primarySubAccount:
                    cost: 0
                    accountName: string
                  otherSubAccounts:
                    - cost: 0
                      accountName: string
              account: string
              costOfSaleAccount: string
              assetAccount: string
              crossSaleGroup: string
              paysCommission: true
              commissionBonus: 0
              hours: 0
              taxable: true
              cost: 0
              unitOfMeasure: string
              isInventory: true
              externalData:
                applicationGuid: string
                externalData:
                  - key: string
                    value: string
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricebook.V2.EquipmentResponse'
              example:
                id: 0
                code: string
                displayName: string
                description: string
                active: true
                price: 0
                memberPrice: 0
                addOnPrice: 0
                addOnMemberPrice: 0
                manufacturer: string
                model: string
                manufacturerWarranty:
                  duration: 0
                  description: string
                serviceProviderWarranty:
                  duration: 0
                  description: string
                categories:
                  - 0
                assets:
                  - alias: string
                    fileName: string
                    type: { }
                    url: string
                recommendations:
                  - skuId: 0
                    type: { }
                upgrades:
                  - 0
                equipmentMaterials:
                  - skuId: 0
                    quantity: 0
                primaryVendor:
                  id: 0
                  vendorName: string
                  vendorId: 0
                  memo: string
                  vendorPart: string
                  cost: 0
                  active: true
                  primarySubAccount:
                    id: 0
                    cost: 0
                    accountName: string
                  otherSubAccounts:
                    - id: 0
                      cost: 0
                      accountName: string
                otherVendors:
                  - id: 0
                    vendorName: string
                    vendorId: 0
                    memo: string
                    vendorPart: string
                    cost: 0
                    active: true
                    primarySubAccount:
                      id: 0
                      cost: 0
                      accountName: string
                    otherSubAccounts:
                      - id: 0
                        cost: 0
                        accountName: string
                account: string
                costOfSaleAccount: string
                assetAccount: string
                crossSaleGroup: string
                paysCommission: true
                commissionBonus: 0
                hours: 0
                taxable: true
                cost: 0
                unitOfMeasure: string
                isInventory: true
                modifiedOn: string
                source: string
                externalId: string
                externalData:
                  - key: string
                    value: string
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    delete:
      tags:
        - Equipment
      summary: Deletes an equipment from your pricebook
      description: Deletes an equipment from your pricebook
      operationId: Equipment_Delete
      parameters:
        - name: id
          in: path
          description: Format - int64. Id of the SKU you are deleting
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '204':
          description: 'The request has succeeded, no content to return'
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/pricebook/v2/tenant/{tenant}/materials':
    get:
      tags:
        - Materials
      summary: Get details on materials in the pricebook.
      description: Get details on materials in the pricebook.
      operationId: Materials_GetList
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: 'Format - int32. The logical number of page to return, starting from 1'
          schema:
            type: integer
            format: int32
            nullable: true
        - name: pageSize
          in: query
          description: Format - int32. How many records to return (50 by default)
          schema:
            type: integer
            format: int32
            nullable: true
        - name: includeTotal
          in: query
          description: Whether total count should be returned
          schema:
            type: boolean
            nullable: true
        - name: sort
          in: query
          description: "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, Code, DisplayName, CreatedOn, ModifiedOn, Price, MemberPrice, AddOnPrice, AddOnMemberPrice, MaterialsCost, PrimaryVendor, Cost, Manufacturer, Priority."
          schema:
            type: string
        - name: ids
          in: query
          description: Perform lookup by multiple IDs (maximum 50)
          schema:
            type: string
        - name: createdBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: createdOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items modified on or after certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: active
          in: query
          description: "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]"
          schema:
            type: string
            oneOf:
              - $ref: '#/components/schemas/ActiveQueryFilter'
            nullable: true
        - name: externalDataApplicationGuid
          in: query
          description: "Format - guid. Items that are created with a specific guid, could be fetched/updated/removed\nonly when the same application guid is provided"
          schema:
            type: string
            format: guid
            nullable: true
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Of_Pricebook.V2.MaterialResponse'
              example:
                page: 0
                pageSize: 0
                hasMore: true
                totalCount: 0
                data:
                  - id: 0
                    code: string
                    displayName: string
                    description: string
                    cost: 0
                    active: true
                    price: 0
                    memberPrice: 0
                    addOnPrice: 0
                    addOnMemberPrice: 0
                    hours: 0
                    commissionBonus: 0
                    paysCommission: true
                    deductAsJobCost: true
                    unitOfMeasure: string
                    isInventory: true
                    account: string
                    costOfSaleAccount: string
                    assetAccount: string
                    taxable: true
                    primaryVendor:
                      id: 0
                      vendorName: string
                      vendorId: 0
                      memo: string
                      vendorPart: string
                      cost: 0
                      active: true
                      primarySubAccount:
                        id: 0
                        cost: 0
                        accountName: string
                      otherSubAccounts:
                        - id: 0
                          cost: 0
                          accountName: string
                    otherVendors:
                      - id: 0
                        vendorName: string
                        vendorId: 0
                        memo: string
                        vendorPart: string
                        cost: 0
                        active: true
                        primarySubAccount:
                          id: 0
                          cost: 0
                          accountName: string
                        otherSubAccounts:
                          - id: 0
                            cost: 0
                            accountName: string
                    categories:
                      - 0
                    assets:
                      - alias: string
                        fileName: string
                        type: { }
                        url: string
                    modifiedOn: string
                    source: string
                    externalId: string
                    externalData:
                      - key: string
                        value: string
    post:
      tags:
        - Materials
      summary: Add a new Materials to your pricebook
      description: Add a new Materials to your pricebook
      operationId: Materials_Create
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricebook.V2.MaterialCreateRequest'
            example:
              code: string
              displayName: string
              description: string
              cost: 0
              active: true
              price: 0
              memberPrice: 0
              addOnPrice: 0
              addOnMemberPrice: 0
              hours: 0
              commissionBonus: 0
              paysCommission: true
              deductAsJobCost: true
              unitOfMeasure: string
              isInventory: true
              account: string
              costOfSaleAccount: string
              assetAccount: string
              taxable: true
              primaryVendor:
                vendorId: 0
                memo: string
                vendorPart: string
                cost: 0
                active: true
                primarySubAccount:
                  cost: 0
                  accountName: string
                otherSubAccounts:
                  - cost: 0
                    accountName: string
              otherVendors:
                - vendorId: 0
                  memo: string
                  vendorPart: string
                  cost: 0
                  active: true
                  primarySubAccount:
                    cost: 0
                    accountName: string
                  otherSubAccounts:
                    - cost: 0
                      accountName: string
              assets:
                - type: { }
                  alias: string
                  url: string
              categories:
                - 0
              externalData:
                applicationGuid: string
                externalData:
                  - key: string
                    value: string
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '201':
          description: The entity has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricebook.V2.MaterialResponse'
              example:
                id: 0
                code: string
                displayName: string
                description: string
                cost: 0
                active: true
                price: 0
                memberPrice: 0
                addOnPrice: 0
                addOnMemberPrice: 0
                hours: 0
                commissionBonus: 0
                paysCommission: true
                deductAsJobCost: true
                unitOfMeasure: string
                isInventory: true
                account: string
                costOfSaleAccount: string
                assetAccount: string
                taxable: true
                primaryVendor:
                  id: 0
                  vendorName: string
                  vendorId: 0
                  memo: string
                  vendorPart: string
                  cost: 0
                  active: true
                  primarySubAccount:
                    id: 0
                    cost: 0
                    accountName: string
                  otherSubAccounts:
                    - id: 0
                      cost: 0
                      accountName: string
                otherVendors:
                  - id: 0
                    vendorName: string
                    vendorId: 0
                    memo: string
                    vendorPart: string
                    cost: 0
                    active: true
                    primarySubAccount:
                      id: 0
                      cost: 0
                      accountName: string
                    otherSubAccounts:
                      - id: 0
                        cost: 0
                        accountName: string
                categories:
                  - 0
                assets:
                  - alias: string
                    fileName: string
                    type: { }
                    url: string
                modifiedOn: string
                source: string
                externalId: string
                externalData:
                  - key: string
                    value: string
  '/pricebook/v2/tenant/{tenant}/materials/{id}':
    get:
      tags:
        - Materials
      summary: Get details on a material in the pricebook.
      description: Get details on a material in the pricebook.
      operationId: Materials_Get
      parameters:
        - name: id
          in: path
          description: Format - int64. The id of the material you are requesting
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: externalDataApplicationGuid
          in: query
          description: "Format - guid. Items that are created with a specific guid, could be fetched/updated/removed\nonly when the same application guid is provided."
          schema:
            type: string
            format: guid
            nullable: true
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricebook.V2.MaterialResponse'
              example:
                id: 0
                code: string
                displayName: string
                description: string
                cost: 0
                active: true
                price: 0
                memberPrice: 0
                addOnPrice: 0
                addOnMemberPrice: 0
                hours: 0
                commissionBonus: 0
                paysCommission: true
                deductAsJobCost: true
                unitOfMeasure: string
                isInventory: true
                account: string
                costOfSaleAccount: string
                assetAccount: string
                taxable: true
                primaryVendor:
                  id: 0
                  vendorName: string
                  vendorId: 0
                  memo: string
                  vendorPart: string
                  cost: 0
                  active: true
                  primarySubAccount:
                    id: 0
                    cost: 0
                    accountName: string
                  otherSubAccounts:
                    - id: 0
                      cost: 0
                      accountName: string
                otherVendors:
                  - id: 0
                    vendorName: string
                    vendorId: 0
                    memo: string
                    vendorPart: string
                    cost: 0
                    active: true
                    primarySubAccount:
                      id: 0
                      cost: 0
                      accountName: string
                    otherSubAccounts:
                      - id: 0
                        cost: 0
                        accountName: string
                categories:
                  - 0
                assets:
                  - alias: string
                    fileName: string
                    type: { }
                    url: string
                modifiedOn: string
                source: string
                externalId: string
                externalData:
                  - key: string
                    value: string
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    patch:
      tags:
        - Materials
      summary: Edit an existing item in your pricebook
      description: Edit an existing item in your pricebook
      operationId: Materials_Update
      parameters:
        - name: id
          in: path
          description: Format - int64. Unique id for the SKU is modified
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricebook.V2.MaterialUpdateRequest'
            example:
              code: string
              displayName: string
              description: string
              cost: 0
              active: true
              price: 0
              memberPrice: 0
              addOnPrice: 0
              addOnMemberPrice: 0
              hours: 0
              commissionBonus: 0
              paysCommission: true
              deductAsJobCost: true
              unitOfMeasure: string
              isInventory: true
              account: string
              costOfSaleAccount: string
              assetAccount: string
              taxable: true
              primaryVendor:
                vendorId: 0
                memo: string
                vendorPart: string
                cost: 0
                active: true
                primarySubAccount:
                  cost: 0
                  accountName: string
                otherSubAccounts:
                  - cost: 0
                    accountName: string
              otherVendors:
                - vendorId: 0
                  memo: string
                  vendorPart: string
                  cost: 0
                  active: true
                  primarySubAccount:
                    cost: 0
                    accountName: string
                  otherSubAccounts:
                    - cost: 0
                      accountName: string
              assets:
                - type: { }
                  alias: string
                  url: string
              categories:
                - 0
              externalData:
                applicationGuid: string
                externalData:
                  - key: string
                    value: string
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricebook.V2.MaterialResponse'
              example:
                id: 0
                code: string
                displayName: string
                description: string
                cost: 0
                active: true
                price: 0
                memberPrice: 0
                addOnPrice: 0
                addOnMemberPrice: 0
                hours: 0
                commissionBonus: 0
                paysCommission: true
                deductAsJobCost: true
                unitOfMeasure: string
                isInventory: true
                account: string
                costOfSaleAccount: string
                assetAccount: string
                taxable: true
                primaryVendor:
                  id: 0
                  vendorName: string
                  vendorId: 0
                  memo: string
                  vendorPart: string
                  cost: 0
                  active: true
                  primarySubAccount:
                    id: 0
                    cost: 0
                    accountName: string
                  otherSubAccounts:
                    - id: 0
                      cost: 0
                      accountName: string
                otherVendors:
                  - id: 0
                    vendorName: string
                    vendorId: 0
                    memo: string
                    vendorPart: string
                    cost: 0
                    active: true
                    primarySubAccount:
                      id: 0
                      cost: 0
                      accountName: string
                    otherSubAccounts:
                      - id: 0
                        cost: 0
                        accountName: string
                categories:
                  - 0
                assets:
                  - alias: string
                    fileName: string
                    type: { }
                    url: string
                modifiedOn: string
                source: string
                externalId: string
                externalData:
                  - key: string
                    value: string
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
    delete:
      tags:
        - Materials
      summary: Deletes a material from your pricebook
      description: Deletes a material from your pricebook
      operationId: Materials_Delete
      parameters:
        - name: id
          in: path
          description: Format - int64. Id of the SKU you are deleting
          required: true
          schema:
            type: integer
            format: int64
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '204':
          description: 'The request has succeeded, no content to return'
        '404':
          description: The requested entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
  '/pricebook/v2/tenant/{tenant}/pricebook':
    post:
      tags:
        - PricebookBulk
      summary: PricebookBulk_Create
      operationId: PricebookBulk_Create
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricebook.V2.PricebookBulkCreateRequest'
            example:
              services:
                - serviceMaterials:
                    - skuId: 0
                      customId: string
                      quantity: 0
                  serviceEquipment:
                    - skuId: 0
                      customId: string
                      quantity: 0
                  recommendations:
                    - skuId: 0
                      customId: string
                  upgrades:
                    - skuId: 0
                      customId: string
                  code: string
                  displayName: string
                  description: string
                  warranty:
                    duration: 0
                    description: string
                  categories:
                    - 0
                  price: 0
                  memberPrice: 0
                  addOnPrice: 0
                  addOnMemberPrice: 0
                  taxable: true
                  account: string
                  hours: 0
                  isLabor: true
                  assets:
                    - type: { }
                      alias: string
                      url: string
                  active: true
                  crossSaleGroup: string
                  paysCommission: true
                  commissionBonus: 0
                  externalData:
                    applicationGuid: string
                    externalData:
                      - key: string
                        value: string
                  customId: string
              equipment:
                - equipmentMaterials:
                    - skuId: 0
                      customId: string
                      quantity: 0
                  recommendations:
                    - skuId: 0
                      customId: string
                      type: Service
                  upgrades:
                    - skuId: 0
                      customId: string
                  code: string
                  displayName: string
                  description: string
                  price: 0
                  memberPrice: 0
                  addOnPrice: 0
                  addOnMemberPrice: 0
                  active: true
                  manufacturer: string
                  model: string
                  manufacturerWarranty:
                    duration: 0
                    description: string
                  serviceProviderWarranty:
                    duration: 0
                    description: string
                  assets:
                    - type: { }
                      alias: string
                      url: string
                  categories:
                    - 0
                  primaryVendor:
                    vendorId: 0
                    memo: string
                    vendorPart: string
                    cost: 0
                    active: true
                    primarySubAccount:
                      cost: 0
                      accountName: string
                    otherSubAccounts:
                      - cost: 0
                        accountName: string
                  otherVendors:
                    - vendorId: 0
                      memo: string
                      vendorPart: string
                      cost: 0
                      active: true
                      primarySubAccount:
                        cost: 0
                        accountName: string
                      otherSubAccounts:
                        - cost: 0
                          accountName: string
                  account: string
                  costOfSaleAccount: string
                  assetAccount: string
                  crossSaleGroup: string
                  paysCommission: true
                  commissionBonus: 0
                  hours: 0
                  taxable: true
                  cost: 0
                  unitOfMeasure: string
                  isInventory: true
                  externalData:
                    applicationGuid: string
                    externalData:
                      - key: string
                        value: string
                  customId: string
              materials:
                - code: string
                  displayName: string
                  description: string
                  cost: 0
                  active: true
                  price: 0
                  memberPrice: 0
                  addOnPrice: 0
                  addOnMemberPrice: 0
                  hours: 0
                  commissionBonus: 0
                  paysCommission: true
                  deductAsJobCost: true
                  unitOfMeasure: string
                  isInventory: true
                  account: string
                  costOfSaleAccount: string
                  assetAccount: string
                  taxable: true
                  primaryVendor:
                    vendorId: 0
                    memo: string
                    vendorPart: string
                    cost: 0
                    active: true
                    primarySubAccount:
                      cost: 0
                      accountName: string
                    otherSubAccounts:
                      - cost: 0
                        accountName: string
                  otherVendors:
                    - vendorId: 0
                      memo: string
                      vendorPart: string
                      cost: 0
                      active: true
                      primarySubAccount:
                        cost: 0
                        accountName: string
                      otherSubAccounts:
                        - cost: 0
                          accountName: string
                  assets:
                    - type: { }
                      alias: string
                      url: string
                  categories:
                    - 0
                  externalData:
                    applicationGuid: string
                    externalData:
                      - key: string
                        value: string
                  customId: string
              discountAndFees:
                - type: { }
                  code: string
                  displayName: string
                  description: string
                  amountType: { }
                  amount: 0
                  limit: 0
                  taxable: true
                  categories:
                    - 0
                  hours: 0
                  assets:
                    - type: { }
                      alias: string
                      url: string
                  account: string
                  crossSaleGroup: string
                  active: true
                  bonus: 0
                  commissionBonus: 0
                  paysCommission: true
                  excludeFromPayroll: true
                  externalData:
                    applicationGuid: string
                    externalData:
                      - key: string
                        value: string
                  customId: string
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '201':
          description: The entity has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricebook.V2.PricebookBulkCreateResponse'
              example:
                services:
                  - customId: string
                    id: 0
                equipment:
                  - customId: string
                    id: 0
                materials:
                  - customId: string
                    id: 0
                discountAndFees:
                  - customId: string
                    id: 0
    patch:
      tags:
        - PricebookBulk
      summary: PricebookBulk_Update
      operationId: PricebookBulk_Update
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricebook.V2.PricebookBulkUpdateRequest'
            example:
              services:
                - code: string
                  displayName: string
                  description: string
                  warranty:
                    duration: 0
                    description: string
                  categories:
                    - 0
                  price: 0
                  memberPrice: 0
                  addOnPrice: 0
                  addOnMemberPrice: 0
                  taxable: true
                  account: string
                  hours: 0
                  isLabor: true
                  recommendations:
                    - 0
                  upgrades:
                    - 0
                  assets:
                    - type: { }
                      alias: string
                      url: string
                  serviceMaterials:
                    - skuId: 0
                      quantity: 0
                  serviceEquipment:
                    - skuId: 0
                      quantity: 0
                  active: true
                  crossSaleGroup: string
                  paysCommission: true
                  commissionBonus: 0
                  externalData:
                    applicationGuid: string
                    externalData:
                      - key: string
                        value: string
                  id: 0
              equipment:
                - code: string
                  displayName: string
                  description: string
                  price: 0
                  memberPrice: 0
                  addOnPrice: 0
                  addOnMemberPrice: 0
                  active: true
                  manufacturer: string
                  model: string
                  manufacturerWarranty:
                    duration: 0
                    description: string
                  serviceProviderWarranty:
                    duration: 0
                    description: string
                  assets:
                    - type: { }
                      alias: string
                      url: string
                  recommendations:
                    - skuId: 0
                      type: Service
                  upgrades:
                    - 0
                  equipmentMaterials:
                    - skuId: 0
                      quantity: 0
                  categories:
                    - 0
                  primaryVendor:
                    vendorId: 0
                    memo: string
                    vendorPart: string
                    cost: 0
                    active: true
                    primarySubAccount:
                      cost: 0
                      accountName: string
                    otherSubAccounts:
                      - cost: 0
                        accountName: string
                  otherVendors:
                    - vendorId: 0
                      memo: string
                      vendorPart: string
                      cost: 0
                      active: true
                      primarySubAccount:
                        cost: 0
                        accountName: string
                      otherSubAccounts:
                        - cost: 0
                          accountName: string
                  account: string
                  costOfSaleAccount: string
                  assetAccount: string
                  crossSaleGroup: string
                  paysCommission: true
                  commissionBonus: 0
                  hours: 0
                  taxable: true
                  cost: 0
                  unitOfMeasure: string
                  isInventory: true
                  externalData:
                    applicationGuid: string
                    externalData:
                      - key: string
                        value: string
                  id: 0
              materials:
                - code: string
                  displayName: string
                  description: string
                  cost: 0
                  active: true
                  price: 0
                  memberPrice: 0
                  addOnPrice: 0
                  addOnMemberPrice: 0
                  hours: 0
                  commissionBonus: 0
                  paysCommission: true
                  deductAsJobCost: true
                  unitOfMeasure: string
                  isInventory: true
                  account: string
                  costOfSaleAccount: string
                  assetAccount: string
                  taxable: true
                  primaryVendor:
                    vendorId: 0
                    memo: string
                    vendorPart: string
                    cost: 0
                    active: true
                    primarySubAccount:
                      cost: 0
                      accountName: string
                    otherSubAccounts:
                      - cost: 0
                        accountName: string
                  otherVendors:
                    - vendorId: 0
                      memo: string
                      vendorPart: string
                      cost: 0
                      active: true
                      primarySubAccount:
                        cost: 0
                        accountName: string
                      otherSubAccounts:
                        - cost: 0
                          accountName: string
                  assets:
                    - type: { }
                      alias: string
                      url: string
                  categories:
                    - 0
                  externalData:
                    applicationGuid: string
                    externalData:
                      - key: string
                        value: string
                  id: 0
              discountAndFees:
                - type: { }
                  code: string
                  displayName: string
                  description: string
                  amountType: { }
                  amount: 0
                  limit: 0
                  taxable: true
                  categories:
                    - 0
                  hours: 0
                  assets:
                    - type: { }
                      alias: string
                      url: string
                  account: string
                  crossSaleGroup: string
                  active: true
                  bonus: 0
                  commissionBonus: 0
                  paysCommission: true
                  excludeFromPayroll: true
                  externalData:
                    applicationGuid: string
                    externalData:
                      - key: string
                        value: string
                  id: 0
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '200':
          description: The request has succeeded
  '/pricebook/v2/tenant/{tenant}/services':
    get:
      tags:
        - Services
      summary: Get data on all of the services in the pricebook.
      description: Get data on all of the services in the pricebook.
      operationId: Services_GetList
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
        - name: page
          in: query
          description: 'Format - int32. The logical number of page to return, starting from 1'
          schema:
            type: integer
            format: int32
            nullable: true
        - name: pageSize
          in: query
          description: Format - int32. How many records to return (50 by default)
          schema:
            type: integer
            format: int32
            nullable: true
        - name: includeTotal
          in: query
          description: Whether total count should be returned
          schema:
            type: boolean
            nullable: true
        - name: sort
          in: query
          description: "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, Code, DisplayName, CreatedOn, ModifiedOn, Price, MemberPrice, AddOnPrice, AddOnMemberPrice, MaterialsCost, PrimaryVendor, Cost, Manufacturer, Priority."
          schema:
            type: string
        - name: ids
          in: query
          description: Perform lookup by multiple IDs (maximum 50)
          schema:
            type: string
        - name: createdBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: createdOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedBefore
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: modifiedOnOrAfter
          in: query
          description: Format - date-time (as date-time in RFC3339). Return items modified on or after certain date/time (in UTC)
          schema:
            type: string
            format: date-time
            nullable: true
        - name: active
          in: query
          description: "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]"
          schema:
            type: string
            oneOf:
              - $ref: '#/components/schemas/ActiveQueryFilter'
            nullable: true
        - name: externalDataApplicationGuid
          in: query
          description: "Format - guid. Items that are created with a specific guid, could be fetched/updated/removed\nonly when the same application guid is provided"
          schema:
            type: string
            format: guid
            nullable: true
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '200':
          description: The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Of_Pricebook.V2.ServiceResponse'
              example:
                page: 0
                pageSize: 0
                hasMore: true
                totalCount: 0
                data:
                  - id: 0
                    code: string
                    displayName: string
                    description: string
                    warranty:
                      duration: 0
                      description: string
                    categories:
                      - id: 0
                        name: string
                        active: true
                    price: 0
                    memberPrice: 0
                    addOnPrice: 0
                    addOnMemberPrice: 0
                    taxable: true
                    account: string
                    hours: 0
                    isLabor: true
                    recommendations:
                      - 0
                    upgrades:
                      - 0
                    assets:
                      - alias: string
                        fileName: string
                        type: { }
                        url: string
                    serviceMaterials:
                      - skuId: 0
                        quantity: 0
                    serviceEquipment:
                      - skuId: 0
                        quantity: 0
                    active: true
                    crossSaleGroup: string
                    paysCommission: true
                    modifiedOn: string
                    source: string
                    externalId: string
                    externalData:
                      - key: string
                        value: string
    post:
      tags:
        - Services
      summary: Post to add a new service to your pricebook
      description: Post to add a new service to your pricebook
      operationId: Services_Create
      parameters:
        - name: tenant
          in: path
          description: Tenant ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricebook.V2.ServiceCreateRequest'
            example:
              serviceMaterials:
                - skuId: 0
                  quantity: 0
              serviceEquipment:
                - skuId: 0
                  quantity: 0
              recommendations:
                - 0
              upgrades:
                - 0
              code: string
              displayName: string
              description: string
              warranty:
                duration: 0
                description: string
              categories:
                - 0
              price: 0
              memberPrice: 0
              addOnPrice: 0
              addOnMemberPrice: 0
              taxable: true
              account: string
              hours: 0
              isLabor: true
              assets:
                - type: { }
                  alias: string
                  url: string
              active: true
              crossSaleGroup: string
              paysCommission: true
              commissionBonus: 0
              externalData:
                applicationGuid: string
                externalData:
                  - key: string
                    value: string
      responses:
        '400':
          description: 'The request cannot be processed, check validation errors or request format'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                type: string
                title: string
                status: 0
                traceId: string
                errors: { }
                data: { }
        '201':
          description: The entity has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricebook.V2.ServiceResponse'
              example:
                id: 0
                code: string
                displayName: string
                description: string
                warranty:
                  duration: 0
                  description: string
                categories:
                  - id: 0
                    name: string
                    active: true
                price: 0
                memberPrice: 0
                addOnPrice: 0
                addOnMemberPrice: 0
                taxable: true
                account: string
                hours: 0
                isLabor: true
                recommendations:
                  - 0
                upgrades:
                  - 0
                assets:
                  - alias: string
                    fileName: string
                    type: { }
                    url: string
                serviceMaterials:
                  - skuId: 0
                    quantity: 0
                serviceEquipment:
                  - skuId: 0
                    quantity: 0
                active: true
                crossSaleGroup: string
                paysCommission: true
                modifiedOn: string
                source: string
                externalId: string
                externalData:
[...]
